
.left {
  fill: green;
  width: 10%;
  margin-left: -0.4%;
}

.black {
  fill: #343434;
  width: 4.98%;
  margin-left: -2.7%;
  margin-bottom: 20.8%;
  position: relative;
  box-shadow: 0 0.3rem #343434;
  z-index: 2;
}

.black:active {
  box-shadow: none;
  top: 0.3rem;
}

.middle {
  width: 10%;
  fill: blue;
  margin-left: -2.8%;
}

.right {
  width: 10%;
  fill: red;
  margin-left: -2.8%;
}

.manual {
  border: 20px solid black;
  white-space: nowrap;
  overflow-x: auto;
  background: #790303;
}

.white.key {
  fill: #EAEAEA;
  background: #C9C9C9;
  box-shadow: 0 0.6em #C9C9C9;
  position: relative;
}

.white.key:active {
  box-shadow: none;
  top: 0.6rem;
}

#authorship {
  color: #A16240;
  padding: 1.5rem;
  background: #790303;
}
